/*
    Created on : 29/10/2014, 10:29:30 AM;
    Author     : Jesus Guerrero R
*/


body{
 background: url(../../imagenesfondo/azul3.jpg);
	
}
header{
    margin-top:0px;
    color:white;
	text-align: center;
	font-size:50px;
	font-family:Magneto;
    text-shadow: blue 5px 5px 16px;
}
section article aside{
	display: inline-block;
}

#marcoCentral{
	display:inline-block;
	border-radius: 100px;
    
   color:white;
    background: maroon;
    width:98%;
   height:20px;
    margin-left: 0%;
    margin-top: 1%;
    /**/

}

#galeria_mov{
   
  width: 700px;
  height: 500px;
    overflow:hidden;  
    border-radius: 25px;           
}

.caminar{
   
	float:left;
  border-radius:25px;
}
#Lista{
    width: 15300px;
    height: 600px;                           
}


