/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19/10/2014, 12:56:39 AM
    Author     : Xpander1
*/
body{
    background-color: grey;
}
section,aside{
    display: inline-block;
}
footer{
    display: block;
    background: #0099CC;
    border-radius: 25px;
    margin-top: 2%;
}
footer p{
    text-align: center;
    font: solid bold;
    color:white;
    font-size: 40px;
    font-family: monospace;
}
#galeria{
    border:solid 1px #EAEAEA;
    border-radius: 25px;
    padding: 20px;
    padding-bottom: 0;
    background: #0099CC;
    width: 700px;
   // margin: auto;
    margin-left: 20px;
    margin-top: 0%;
}
#imagen1,imagen2,imagen3,imagen4,imagen5{
    border: 1px solid #F2F2F2;
    border-radius: 25px;
    width: 700px;
    height: 350px;
}

#galeria_miniaturas{
    display: table;
    margin: 0px auto;
    
}
.miniatura{
    width: 110px;
    height: 110px;
    border-radius: 10px;
    float:left;
    cursor:pointer;
    padding:5px;
    margin: 10px 5px;
}
#inicioSesion{

display:inline-block;
border:solid 1px #EAEAEA;
color:white;
font: solid bold ;
    border-radius: 25px;
    padding: 20px;
    padding-bottom: 0;
    background: firebrick;
    width: 200px;
    height: 485px;
   // margin: auto;
    margin-left:20px;
    margin-right: 0px;
    
    
}
#personajesdestacados{
    display:inline-block;
border:solid 1px #EAEAEA;
color:white;
font: solid bold ;
    border-radius: 25px;
    padding: 20px;
    padding-bottom: 0;
    background: firebrick;
    width: 180px;
    height: 485px;
   // margin: auto;
    margin-left:0px;
    //margin-right: 0px;
}
#link{
    color:blue;
    font:solid bold;
    font-family: initial;
    font-feature-settings: normal;
    float:right;
}

#imagenlogo{
    margin-top: -155px;
     margin-right: 0px;
     margin-bottom: 0px;
    float: right;
}
