body{
	
        width: 70%;
    background-color:firebrick;
    margin-left:2px;
    
    
}


#titulo{
	margin-left: 450px;
	
    font-size: 50px;
    color:white;
    font-family: magneto;
    
    
}



header{
	text-align: center;
	font-size:60px;
	font-family:monotype corsiva;
	margin-left: 390px;
	color:white;
	

}

#cajaju{
	 border: 3px solid red;
    height: 1650px;
        width: 110%;
        background: white;
        margin-left: 140px;
        margin-top: 90px;
        border-radius: 4px;
}



#contac1{
	border: 2px solid red;
	height: 150px;
	width: 20%;
	background: firebrick;
	border-radius: 10px;
	margin-top: 60px;
	margin-left: 60px;
}

#contac2{
	border: 2px solid red;
	height: 150px;
	width: 65%;
	background: firebrick;
	margin-left: 300px;
	border-radius: 4px;
	margin-top: -155px;
	
}
#contac3{
	border: 2px solid red;
	height: 150px;
	width: 20%;
	background: firebrick;
	margin-top: 50px;
	margin-left: 60px;
	border-radius: 4px;

}

#contac4{
	border: 2px solid red;
	height: 150px;
	width: 65%;
	background: firebrick;
	margin-top: -155px;
	margin-left: 300px;
	border-radius: 4px;
}

#contac5{
	border: 2px solid red;
	height: 150px;
	width: 20%;
	background: firebrick;
	margin-left: 60px;
	margin-top: 50px;
	border-radius: 4px;
}


#contac6{
	border: 2px solid red;
	height: 150px;
	width: 65%;
	background: firebrick;
	border-radius: 4px;
margin-top: -155px;
margin-left: 300px;

}
#contac7{
border: 2px solid red;
	height: 150px;
	width: 20%;
	background: firebrick;
	margin-left: 60px;
	margin-top: 50px;
	borde
	

	}

	#contac8{
border: 2px solid red;
	height: 150px;
	width: 65%;
	background: firebrick;
	border-radius: 4px;
	margin-left: 300px;
	margin-top: -155px;
}

#contac9{
border: 2px solid red;
	height: 150px;
	width: 20%;
	background: firebrick;
	border-radius: 4px;
	margin-left: 60px;
	margin-top: 50px;

}

#contac10{
border: 2px solid red;
	height: 150px;
	width: 65%;
	background: firebrick;
border-radius: 4px;
margin-left: 300px;
margin-top: -155px;
}

#contac11{
border: 2px solid red;
	height: 150px;
	width: 20%;
	background: firebrick;
	border-radius: 4px;
	margin-left: 60px;
	margin-top: 50px;

}

#contac12{
border: 2px solid red;
	height: 150px;
	width: 65%;
	background: firebrick;
border-radius: 4px;
margin-left: 300px;
margin-top: -155px;
}


#nono{
border: 2px solid red;
	height: 240px;
	width: 88%;
	background: firebrick;
	margin-left: 60px;
	margin-top: 70px;
	border-radius: 4px;
}


#comen{
border: 2px solid red;
	height: 180px;
	width: 99%;
	background: white;
	border-radius:20px;
	margin-left: 4px;
	margin-top: 45px;
}

#enviar{
	border:2px solid red;
	height: 40px;
	width:13%;
	//background: firebrick;
	margin-top: 35px;
	margin-left: 440px;
	border-radius: 4px;
}


#comenta{
	margin-left: 400px;
	
    font-size: 30px;
    color:firebrick;
    font-family: arial;

    margin-top: 70px;

}