body{
	
      
padding:0px;
margin: 0px;

background: url(../images/bg.jpg);
}
    







header{
	text-align: center;
	font-size:60px;
	font-family:monotype corsiva;
	margin-left: 250px;
	color:white;
	

}

#tabla{
	margin-left: 80px;
	margin-top: 80px;
	margin-right: 100px;
}


#titulo2{

	border: 2px solid firebrick;
	height: 65px;
	width: 90%;
	background: firebrick;
	border-radius: 20px;
	margin-right: 10px;
	margin-left: 70px;
	margin-top: 30px;
}