
body{

background-color:firebrick;	
}

label{
	font-family: "vivaldi";
	font-size: 35px;

	margin-left: 600px;
margin-right: 600px;
margin-bottom: 250px;
;
}
#caja1{
margin-left: 600px;
margin-right: 600px;


}

#caja2{
	margin-left: 600px;
	margin-right: 600px;

}


#botton{
	margin-left: 600px;
	margin-right: 600px;
border-radius: 5px;

}
#form{
	margin-top:80px;
	border: 2px;
	border-color: black;
}


nav{
	float: right;
}



#titulo{
	text-align: center;
	font-size: 75px;
	font-family: "vivaldi";
	font-color: white;
	background-color: firebrick;
border:2px;
border-color: firebrick;
border-radius: 78px;

}

.menuprincipal{
	background-color: firebrick;
	padding-bottom: 2px;
	padding: 15px;
	border-radius: 78px;
	border:2px;
text-align: center;
float: center;

}
section{
	border:5px;
	border-radius: 78px;
	width: 500%
	
}