*{
	color:white;
}
#Titulo{


	font-family: "vivaldi";
	font-size:70px;
margin-left: 370px;

}

body{

	background:url(FondoHistoria/6.jpg) no-repeat center center fixed ; 
	background-size: cover;
    

}









