
body{

background-color: firebrick;	
}

#cuadrito{
	color:white;
	border: 2px solid black;
	height: 500px;
	width: 900px;
	background: gray;
	margin-top: 50px;
	margin-left: 220px;
    border-radius: 5px;
    margin-right: ;

}
.subcuadrito {
	position: relative;
	padding-top:40px ;
	width: 420px;
	height:60%;
	margin:130px auto;
	border: 2px solid blue;
	margin-top: -320px;
	margin-right: 40px;
}





#contac3{
	margin-top: 60px;
	margin-left: 30px;

}
#usuario{
	font-size: 20px;
	font-family: arial;
	margin-left: 60px;
	margin-top: -60px;
	width: 50px;
	height: 40%;
	margin-top: 90px;

}

#name{
	border: 2px solid blue;
	font-size: 20px;
	font-family: arial;
	margin-left: 60px;
	margin-top: 10px;
	border-radius: 5px;
	width: 300px;

}

#contri{
	font-size: 20px;
	font-family: arial;
	margin-left: 60px;
	margin-top: 90px;

}

#pass{
	border: 2px solid blue;
	width: 300px;
	margin-top: 10px;
	border-radius: 5px;
	font-size: 20px;
	font-size: 20px;
	margin-left: 60px;



}
#boton{
	border: 2px solid blue;
	width: 140px;
	margin-top: 20px;
	border-radius: 5px;
	font-size: 20px;
	font-size: 20px;
	margin-left: 140px;
margin-bottom: 30px;
}
#link{
	border: 2px solid blue;
	width: 140px;
	margin-top: 20px;
	
	font-size: 20px;
	font-size: 20px;
	margin-left: 155px;

}
