body{
background-color: brown;

}


#titulo{
    text-align: justify;
	color: black;
	font-size: 20px;
	font-style: "ALGERIAN";
	position: center;
        margin-left: 890px;
    margin-right: 75px;
        padding-top: 12px;
    padding-left: 12px;
}


#tex{
    padding-top: 12px;
    padding-left: 12px;

text-align: justify;
	margin-left: 700px;
	margin-right: 75px;
	color: black;
	font-size: 20px;
	font-style: "Arial"
    ;
float: left;
}

