

	
body{
padding: 0px;
margin: 0px;
background: url(../images/bg.jpg);
}

header{
	text-align: center;
	font-size:70px;
	font-family:Verdana;

}
section article aside{
	display: inline-block;
}

#marcoCentral{
	display:inline-block;
	border-radius: 100px;
    padding: 30px;
    padding-bottom: 0;
    background: maroon;
    width:90%;
   height:1px;
    margin-left: 3%;
    margin-top: 1%;


}



#titulo{
    border: 2px solid black;
    height: 60px;
    width: 70%;
    background: firebrick;
text-align: center;
        font-size:40px;
            font-family:Verdana;
            margin-left: 200px;
            margin-top: 10px;

            color:white;

            border-radius: 20px;


}

#galeria_mov{
  
    width: 900px  ;
    height: 500px;
    overflow:hidden;             
}
.caminar{
	float:left;
}
#Lista{
    width: 21600px;
    height: 500px;                           
}


